* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

/* Header Section */
.header-section {
  height: 100vh;
}
.bg-video {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: center;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* About Me Section */
.about-me {
  height: 100vh;
}

h2 {
  padding: 20px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.avatar-circle {
  margin-top: 10px;
  border-radius: 50%;
}
.avatar {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  object-fit: cover;
  background-position: center;
}
ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.profile-col {
  padding: 20px;
}
.card {
  margin: auto;
  padding-bottom: 5px;
  border: none;
}
ul.network-icons {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
.icon-small {
  font-size: 5px;
  font-weight: 900;
}
