/*-------------------------------------------------------------------*/
/*--------------DEFAULT SETUP----------------------------------------*/
/*---------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 25px; */
}

/*-------------------------------------------------------------------*/
/*--------------HEADINGS----------------------------------------*/
/*---------------------------------------------------------------------*/
h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 25px 0 50px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #12b4ff;
  left: 0;
  right: 0;
  bottom: -10px;
}
h3 {
  font-size: 90%;
}

/*-------------------------------------------------------------------*/
/*--------------HEADER SECTION----------------------------------------*/
/*---------------------------------------------------------------------*/
.header-section {
  height: 100vh;
  backface-visibility: hidden;
}
.bg-video {
  position: absolute;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text-box {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-text-primary {
  color: #fff;
  font-weight: 300;
  font-size: 250%;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-timing-function: ease-out; */

  /* animation-delay: 2s; */
  /* animation-iteration-count: 3; */
}
.hero-text-secondary {
  color: #fff;
  font-weight: 700;
  font-size: 200%;
  animation: moveInRight 1s ease-out;
  margin-left: 45px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* scroll down button */
.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.scroll-container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#btn--scroll-to a {
  padding-top: 80px;
}
#btn--scroll-to a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#btn--scroll-to a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#btn--scroll-to a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#btn--scroll-to a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-------------------------------------------------------------------*/
/*--------------About Me Section----------------------------------------*/
/*---------------------------------------------------------------------*/
.about-me {
  padding: 120px 0;
}
.about-heading-h2 {
  padding: 20px;
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #0c66ea;
}

/* h2 {
  padding: 20px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
} */
.profile-card {
  padding: 120px 0px;
}
.avatar {
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin: 0 auto;
  object-fit: cover;
  background-position: center;
}
ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* .profile-col {
  padding: 20px;
} */
.description {
  padding: 0 20px;
}

/*-------------------------------------------------------------------*/
/*--------------Navigation Section----------------------------------------*/
/*---------------------------------------------------------------------*/
#nav {
  position: sticky;
  padding: 15px;
}
#navbarNav {
  justify-content: end;
}

.nav-link {
  font-weight: 700;
}

/*-------------------------------------------------------------------*/
/*--------------Experience Section----------------------------------------*/
/*---------------------------------------------------------------------*/

.exp-section {
  background-color: #eee;
  padding: 100px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}
.card-title {
  font-size: 120%;
  text-transform: uppercase;
  font-weight: bold;
}
.card-subtitle {
  font-size: 100%;
}
.duration {
  font-size: 60%;
}
.tasks {
  font-size: 90%;
}

.card {
  margin: auto;
  padding-bottom: 5px;
  border: none;
}
.network-container {
  text-align: center;
}
.network-icons {
  padding: 0;
  margin: 0;
  display: inline-flex;
  text-decoration: none;
  list-style: none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.experience .m-2 .border,
.experience .col.border-right {
  border-right: solid;
  border-color: #795548 !important;
}

.text-center {
  text-align: center !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.card-body {
  padding: 0.5rem;
}

/*-------------------------------------------------------------------*/
/*--------------Abilities Section----------------------------------------*/
/*---------------------------------------------------------------------*/
.abilities {
  padding: 80px 0;
}
.about-heading-h2 {
  padding: 15px;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/*-------------------------------------------------------------------*/
/*--------------Projects Section----------------------------------------*/
/*---------------------------------------------------------------------*/
#projects figure img {
  width: 100%;
}
img {
  vertical-align: middle;
}

.projects-section {
  background-color: #eee;
  padding: 100px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}
/*-------------------------------------------------------------------*/
/*--------------section-testimonials----------------------------------------*/
/*---------------------------------------------------------------------*/

.card-text {
  font-size: 14px;
  margin-bottom: 7px;
}

.small {
  font-size: 12px !important;
  letter-spacing: 0.5px !important;
}

.card-header img {
  border: 5px solid white !important;
}

.outside {
  position: absolute;
  left: -11%;
}

.card-custom {
  height: 400px;
  border-radius: 20px !important;
  box-shadow: 2px 2px 10px 0px rgb(100, 108, 170);
  width: 20rem;
  margin-left: 25px;
}

hr {
  justify-content: center !important;
  align-self: center !important;
  width: 80%;
}

.card-footer {
  border-radius: 20px !important;
}

.bold {
  font-weight: 500;
}

@media (max-width: 390px) {
  .card {
    width: unset !important;
  }

  .outside {
    position: relative;
    left: 0;
  }
}

/* Certifications */
p.lead {
  text-align: center;
  color: #727878;
}
.skill-lists {
  list-style: none;
}
#abilities ul > li .ability-score {
  float: right;
}
#certification .row > div {
  margin-bottom: 30px;
}
#certification figure {
  position: relative;
  overflow: hidden;
}

#certification figure img {
  width: 100%;
}
img {
  vertical-align: middle;
}

.certification-section {
  padding: 40px 180px;
}

/*-------------------------------------------------------------------*/
/*--------------Footer Section----------------------------------------*/
/*---------------------------------------------------------------------*/
#contact {
  padding-bottom: 200px;
}
.footer-section {
  padding: 40px 180px;
}
.background-gray {
  background: #434242;
}
