/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital@0;1&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital@0;1&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/
/*-------------------------------------------------------------------*/
/*--------------DEFAULT SETUP----------------------------------------*/
/*---------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.9px;
}

/*-------------------------------------------------------------------*/
/*--------------HEADINGS----------------------------------------*/
/*---------------------------------------------------------------------*/
h3 {
  font-size: 90%;
}

/*-------------------------------------------------------------------*/
/*--------------HEADER SECTION----------------------------------------*/
/*---------------------------------------------------------------------*/
.header-section {
  height: 100vh;
}
.bg-video {
  position: absolute;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: center;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*-------------------------------------------------------------------*/
/*--------------About Me Section----------------------------------------*/
/*---------------------------------------------------------------------*/
.about-me {
  padding: 120px 0;
}
.about-heading-h2 {
  padding: 20px;
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #0c66ea;
}

/* h2 {
  padding: 20px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
} */
.profile-card {
  padding: 120px 0px;
}
.avatar {
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin: 0 auto;
  object-fit: cover;
  background-position: center;
}
ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* .profile-col {
  padding: 20px;
} */
.description {
  padding: 0 20px;
}
/*-------------------------------------------------------------------*/
/*--------------Experience Section----------------------------------------*/
/*---------------------------------------------------------------------*/

.exp-section {
  background-color: #eee;
  padding: 100px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}
.card-title {
  font-size: 120%;
  text-transform: uppercase;
  font-weight: bold;
}
.card-subtitle {
  font-size: 100%;
}
.duration {
  font-size: 60%;
}
.tasks {
  font-size: 90%;
}

.card {
  margin: auto;
  padding-bottom: 5px;
  border: none;
}
.network-container {
  text-align: center;
}
.network-icons {
  padding: 0;
  margin: 0;
  display: inline-flex;
  text-decoration: none;
  list-style: none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.experience .m-2 .border,
.experience .col.border-right {
  border-right: solid;
  border-color: #795548 !important;
}

.text-center {
  text-align: center !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.card-body {
  padding: 0.5rem;
}

/*-------------------------------------------------------------------*/
/*--------------Abilities Section----------------------------------------*/
/*---------------------------------------------------------------------*/
.abilities {
  padding: 80px 0;
}
.about-heading-h2 {
  padding: 15px;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/*-------------------------------------------------------------------*/
/*--------------Projects Section----------------------------------------*/
/*---------------------------------------------------------------------*/
#projects figure img {
  width: 100%;
}
img {
  vertical-align: middle;
}

.projects-section {
  background-color: #eee;
  padding: 100px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}
/*-------------------------------------------------------------------*/
/*--------------Certifications Section----------------------------------------*/
/*---------------------------------------------------------------------*/
p.lead {
  text-align: center;
  color: #727878;
}
.skill-lists {
  list-style: none;
}
#abilities ul > li .ability-score {
  float: right;
}
#certification .row > div {
  margin-bottom: 30px;
}
#certification figure {
  position: relative;
  overflow: hidden;
}

#certification figure img {
  width: 100%;
}
img {
  vertical-align: middle;
}

.certification-section {
  padding: 40px 180px;
}

/*-------------------------------------------------------------------*/
/*--------------Footer Section----------------------------------------*/
/*---------------------------------------------------------------------*/
#contact {
  padding-bottom: 200px;
}
.footer-section {
  padding: 40px 180px;
}
.background-gray {
  background: #434242;
}
